<footer id="footer" class="am-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-t-1 pull-xs-right text-xs-center text-md-right">
        <nav class="nav nav-inline">
          <a class="nav-link" href="{{ site.url }}/">Início</a>
          <a class="nav-link" href="{{ site.url }}/about">O Cozinheiro</a>
          <a class="nav-link" href="{{ site.url }}/portfolio">Trabalhos</a>
          <a class="nav-link" href="{{ site.url }}/contact">Contato</a>
        </nav>
        <p class="m-t-2">
          &copy; Website {{ site.time | date: '%Y' }} Adam Requena Macias.
          <br> 99.1% Puro e 100% Semântico.
          <br>
          <br>
          <i class="fa fa-diamond"></i>
          <i class="fa fa-diamond"></i>
          <i class="fa fa-diamond"></i>
          <i class="fa fa-diamond"></i>
          <i class="fa fa-diamond"></i>
        </p>
      </div>
      <div class="com-md-6 pull-xs-left text-xs-center text-md-left m-t-1">
        <p>
          <a href="{{ site.url }}/contact/">
            <img src="{{ site.url}}/media/logo-bettercalladam.png" alt="Logo Better Call Adam" height="145">
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
